*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f8ddb5;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.container{
  background-color: white;
  max-width: 1200px;
  width: 80%;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

header{
  width: 100%;
  height: 100px;
  background-color: #eeeeee;
}

aside{
  float: left;
  width: 30%;
  height: 80%;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

main{
  float: left;
  width: 70%;
  height: 80%;
  background-color: blue;
}

.profile{
  float: left;
  width: 30%;
  height: 100%;
  background-color: #eeeeee;
  position: relative;
  border-right: 1px solid grey;
}

.chat{
  float: left;
  position: relative;
  width: 70%;
  height: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notifiche{
  background-color: lightblue;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.cerca{
  background-color: white;
  width: 100%;
  height: 50px;
}

.contatti{
  background-color: grey;
  width: 100%;
  height: 100%;
}

.img-pro img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-left: 10px;
  transform: translatey(-50%);

}

.profile-right{
  float: right;
}

.profile-right i{
  line-height: 100px;
  font-size: 25px;
  padding-right: 10px;
  color: grey;
}

.chat-sx img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-left: 10px;
  transform: translatey(-50%);
}

.nome {
  margin-top: 30px;
  margin-left: 80px;
}

.chat-dx i{
  line-height: 100px;
  font-size: 25px;
  padding-right: 10px;
  color: grey;
}

.bell i{
  line-height: 100px;
  font-size: 25px;
  padding-left: 10px;
  color: lightblue;
  background-color: white;
}

.ricevi{
  margin-left: 20px;
}

.searchbar input{
  width: 90%;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 5px 17px;
}
